import("MASS","shiny","doParallel","foreach")
importFrom("utils","read.csv","write.csv","head","RShowDoc")
importFrom("stats","pchisq","ks.test","dnorm","runif","pnorm")
importFrom("KScorrect","dmixnorm")
importFrom("grDevices", "dev.off", "jpeg", "png", "tiff","pdf")
importFrom("graphics", "axis", "hist", "mtext", "par", "plot")
importFrom("methods", "new")
importFrom("stats", "sd", "var")
importFrom("parallel", "detectCores","makeCluster","stopCluster")
importFrom("data.table", "fread", "fwrite")
export("SEA")
export("F2Fun")
export("F23Fun")
export("DHFun")
export("BILFun")
export("G4F2Fun")
export("G4F3Fun")
export("G3DHFun")
export("G5BCFun")
export("G5BCFFun")
export("BCFun")
export("BCFFun")
export("G5Fun")
export("G6Fun")
export("G6FFun")
export("PosPro")


